.tarjeta {
    display: flex;
    width: auto;
    color: #ffffffb9;
    height: 500px;
    width: 95%;
    margin: 20px;
    background-color: $bg-color-secondary;
    padding: 20px;
    object-fit: cover;
    border-radius: 2px;
    img {
      width: 50%;
      height: 99%;
      margin-right: 20px;
      border-radius: 15px;
      transition: 0.8s;
      &:hover {
        transform: translate(25px);
      }
    }
    h3 {
      font-size: 60px;
      margin-left: 40px;
      color: #ffffff1a;
      background: #ffffff00;
      text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    }
    .tarjeta-texto{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    ul {
      list-style-type:circle;
      padding: 0;
      margin-top: 25px;
      margin-left: 50px;
      li {
          margin-bottom: 5px;
      }
    }
    button {
      @extend %boton;
      margin-top: 90px;
    
      a {
          text-decoration: none;
          color: #ffffff;
          padding: 5px;
        }
    }
  
  }