@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "reset";
@import "variables";
@import "extends";
@import "header";
@import "main";
@import "carusel";
@import "tarjetas";
@import "cajas";
@import "contactoArriba";
@import "sorteo";
@import "footer";
@import "nosotros";
@import "mediaQuery";

.img-contain {
  max-width: 100%;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}